body {
    background: url(./resources/IMG_1376.jpg) no-repeat center/cover;
}

.background {
    background: #000;
    opacity: 70%;
    backdrop-filter: blur(3px);
    margin:0;
    padding:0;
    border:0;
}

.topBody {
    text-align: center;
    color: white;
}

h1 {
    padding-top: 20px;
}

.body {
    color: white;
    padding-left: 3%;
    width: 45%;
    display:inline-block;
    justify-content: center;
    margin-bottom: 3%;
}

.body #locationBody {
    float:inline-end;
}